@import '../../styles/variables';
@import '../../styles/mixins';

.tasks-column {
  border: 1px solid $lightGrey;
  border-radius: 5px;
  -webkit-box-shadow: rgba(0,0,0,.23) 0 2px 3px 0;
  box-shadow: rgba(0,0,0,.23) 0 2px 3px 0;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: all .3s ease;
  -o-transition: .3s;
  border-radius: 2px;

  .title {
    @include backgroudMaterialBlue();
    padding: 10px;
    border-radius: 5px 5px 0px 0px;
  }
  .wrapper {
    padding: 10px 20px;
    min-height: 400px;
  }
}

.card-subtitle {
  font-size: 11px;
  color: grey;
}

.card-text {
  font-size: 13px;
}

.card {
  margin-top: 10px;
}

.dropdownMenu {
  border: none !important;
  background: none !important;
  color: #d8d5d5 !important;
  padding: 0px 10px !important;
  outline: none !important;
}
